<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
id="WebApp_ID" version="3.1">
  <display-name>tomcat_test</display-name>
  <servlet>
  	<servlet-name>get</servlet-name>
  	<servlet-class>com.tomcat_test.GetDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>get</servlet-name>
  	<url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>display</servlet-name>
  	<servlet-class>com.tomcat_test.Display</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>display</servlet-name>
  	<url-pattern>/display</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>in</servlet-name>
  	<servlet-class>com.tomcat_test.In</servlet-class>
  	<init-param>
  		<param-name>lname</param-name>
  		<param-value>Sakthivel</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>in</servlet-name>
  	<url-pattern>/in</url-pattern>
  </servlet-mapping>
  <context-param>
  	<param-name>name</param-name>
  	<param-value>Manoj</param-value>
  </context-param> 
</web-app>
